* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border: 5px solid blue;
}

.bio-details {
  max-width: 130rem;
  background-color: #fdf2e9;
  padding: 2.4rem;
  margin: 0 auto;
}
.header {
  padding: 2.4rem;
  text-align: center;
  margin-bottom: 3.2rem;
}

.heading-primary {
  font-size: 4.4rem;
  font-weight: 700;
}

.section-bio {
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
}

.bio {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 3.2rem;
}

.bio-img-box {
  justify-self: start;
}

.bio-text-box {
  justify-self: end;
  font-size: 1.8rem;
  
}

.bio-img {
  width: 12.8rem;
  border-radius: 11px;
}

.section-objective {
  padding:0 3.2rem;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  padding: 0.8rem 0;
  margin-bottom: 1.2rem;
}

.objective-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.section-edu {
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
}

.edu-list li {
  list-style: none;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.section-favs {
  padding: 0 3.2rem;
  margin-bottom: 3.2rem;
}

.favs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.div-text {
  font-size: 1.8rem;
}

/* Media Queries */

/* BELOW 600px */

@media (max-width: 37.5em ) {
  .heading-primary {
    font-size: 3.2rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .bio {
    grid-template-columns: 1fr;
    padding: 0;
  }

  .bio-text-box {
    justify-self: start;
    font-size: 1.4rem;
  }

  .objective-text {
    font-size: 1.4rem;
  }

  .section-edu li {
    font-size: 1.4rem;
  }

  .favs {
    grid-template-columns: 1fr;
  }

  .div-text {
    font-size: 1.4rem;
  }




}
